.App {

}

div {
  display: block;
  background-color: black;
}

.one-one {
  display: block;
  background-color: red;
}

/* .row-one {
  display: block;
  background-color: black;
  opacity: 100%;
}

.row-two {
  background-color: black;
  opacity: 100%;
}

.row-three {
  background-color: black;
  opacity: 100%;
}

.row-four {
  background-color: black;
  opacity: 100%;
}

.row-one {
  background-color: black;
  opacity: 100%;
}

.row-one {
  background-color: black;
  opacity: 100%;
}

.row-one {
  background-color: black;
  opacity: 100%;
}

.row-one {
  background-color: black;
  opacity: 100%;
}

.row-one {
  background-color: black;
  opacity: 100%;
}

.row-one {
  background-color: black;
  opacity: 100%;
}

.row-one {
  background-color: black;
  opacity: 100%;
}

.row-one {
  background-color: black;
  opacity: 100%;
}

.row-one {
  background-color: black;
  opacity: 100%;
} */








/*
.row-one {
  display: flex;
  flex-direction: row;
}

.row-two {
  display: flex;
  flex-direction: row;
}

.row-three {
  display: flex;
  flex-direction: row;
}

.one {
  background: linear-gradient(to right, white, #ff00ff);
  margin: 0 auto;
  width: 300px;
  height: 300px;
}

.two {
  background: linear-gradient(to right, #ff00ff, #0000ff);
  margin: 0 auto;
  width: 300px;
  height: 300px;
}

.three {
  background: linear-gradient(to right, blue, white);
  margin: 0 auto;
  width: 300px;
  height: 300px;
}
.four {
  background: linear-gradient(to right, white, #ff00ff);
  margin: 0 auto;
  width: 300px;
  height: 300px;
}

.five {
  background: linear-gradient(to right, #ff00ff, #0000ff);
  margin: 0 auto;
  width: 300px;
  height: 300px;
}

.six {
  background: linear-gradient(to right, blue, white);
  margin: 0 auto;
  width: 300px;
  height: 300px;
}

.seven {
  background: linear-gradient(to right, white, #ff00ff);
  margin: 0 auto;
  width: 300px;
  height: 300px;
}

.eight {
  background: linear-gradient(to right, #ff00ff, #0000ff);
  margin: 0 auto;
  width: 300px;
  height: 300px;
}

.nine {
  background: linear-gradient(to right, blue, white);
  margin: 0 auto;
  width: 300px;
  height: 300px;
} */
